<!--<!doctype html>-->
<!--<html class="no-js">-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<title>考试系统 - ***</title>-->
    <!--<meta name="description" content="这是一个 index 页面">-->
    <!--<meta name="keywords" content="index">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
    <!--<meta name="renderer" content="webkit">-->
    <!--<meta http-equiv="Cache-Control" content="no-siteapp" />-->
    <!--<link rel="icon" type="image/png" href="/assets/i/favicon.png">-->
    <!--<link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">-->
    <!--<meta name="apple-mobile-web-app-title" content="Amaze UI" />-->
    <!--<link rel="stylesheet" href="/assets/css/amazeui.min.css"/>-->
    <!--<link rel="stylesheet" href="/assets/css/admin.css">-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;[if lte IE 9]>-->
<!--<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>-->
    <!--以获得更好的体验！</p>-->
<!--<![endif]&ndash;&gt;-->


<!--<div class="admin-content">-->

    <!--<div class="am-cf am-padding">-->
        <!--<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small><%= title %> </small></div>-->
    <!--</div>-->





    <!--<hr/>-->

    <!--<div class="am-g">-->
        <!--<div class="am-u-sm-12 am-u-sm-centered">-->
            <!--<h2>课程管理系统平台</h2>-->
            <!--<p>感谢有你！</p>-->
        <!--</div>-->

        <!--<hr/>-->
    <!--</div>-->


<!--</div>-->
<!--&lt;!&ndash; content end &ndash;&gt;-->

<!--</div>-->






<!--<footer>-->
    <!--<p class="am-padding-left">© 2018 </p>-->
<!--</footer>-->

<!--&lt;!&ndash;[if lt IE 9]>-->
<!--<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>-->
<!--<script src="/assets/js/polyfill/rem.min.js"></script>-->
<!--<script src="/assets/js/polyfill/respond.min.js"></script>-->
<!--<script src="/assets/js/amazeui.legacy.js"></script>-->
<!--<![endif]&ndash;&gt;-->

<!--&lt;!&ndash;[if (gte IE 9)|!(IE)]>&lt;!&ndash;>-->
<!--<script src="/assets/js/jquery.min.js"></script>-->
<!--<script src="/assets/js/amazeui.min.js"></script>-->
<!--&lt;!&ndash;<![endif]&ndash;&gt;-->
<!--<script src="/assets/js/app.js"></script>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html>

<head>
  <title></title>
  <style type="text/css">
    img{
      width: 100%;
      height: auto;
    }
  </style>
</head>
<img src="/images/幻灯片01.png"/>
<img src="/images/幻灯片02.png"/>
<img src="/images/幻灯片03.png"/>
<img src="/images/幻灯片04.png"/>
<img src="/images/幻灯片05.png"/>
<img src="/images/幻灯片06.png"/>
<img src="/images/幻灯片07.png"/>
<img src="/images/幻灯片08.png"/>
<img src="/images/幻灯片09.png"/>



<body>

</body>

</html>
