<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>考试系统 - ***</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<%- include("../template/slider.ejs") %>

<div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> /
            <small><%= title %> </small>
        </div>
    </div>
    <div class="am-g">

        <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">




        </div>

        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
            <form class="am-form am-form-horizontal">
                             <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">课程名称 / Name</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="Name" placeholder="课程名称 / Name">
                        <small>输入课程名称</small>
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">任课教师名字 / Tea-Name</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="tea-name" placeholder="任课教师名字 / Name">
                        <small>任课教师名字</small>
                    </div>
                </div>


                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">上课地点 / Local</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="local" placeholder="上课地点 / Local">
                        <small>上课地点</small>
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">上课时间 / Time</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="time" placeholder="上课时间 / Time">
                        <small>上课时间</small>
                    </div>
                </div>


                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">课程周数 / Number</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="number" placeholder="课程周数 / Number">
                        <small>上课时间</small>
                    </div>
                </div>




                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">课程对应的班级 / Number</label>
                    <div class="am-u-sm-9">
                        <select>
                            <option value="1">大一</option>
                            <option value="2">大二</option>
                            <option value="3">大三</option>
                        </select>
                        <small> 请选择对应班级</small>
                    </div>
                </div>





                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3">
                        <button type="button" class="am-btn am-btn-primary">确认发布</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- content end -->

</div>


<footer>
    <p class="am-padding-left">© 2018 </p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/polyfill/rem.min.js"></script>
<script src="/assets/js/polyfill/respond.min.js"></script>
<script src="/assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="/assets/js/app.js"></script>
</body>
</html>
